*{
    /* outline: 1px red solid; */
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    display: flex;
    height: 100vh;
    min-width: 100vw;;
}

#leftbody{
    flex: 1;
}

#rightbody{
    flex:2;
    display: flex;
    flex-direction: column;
}

#rightrow1{
    flex:1.2 1 0px;
    min-height: 0px;
    font-family: Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#rightrow2{
    flex:1 1 0px;
    min-height: 0px;
    background-color: bisque;
}

#rightrow3{
    flex:1.2 1 0px;
    min-height: 0px;
}

#rightrow1text{
    margin: 20vh 5vh 5vh 5vh;
    font-size: 1.5em;
    font-weight: bold;
}

#rightrow1text > p {
    margin-top: 2vh;
    font-weight: bold;
}

#rightrow2text{
    margin: 2vh 5vh 3vh 5vh;
    font-size: 1.5em;
    font-weight: bold;
}

form > div > div {
    display: inline-block;
}

form > div > div > label{
    display: block;
}

form{
   margin: 3vh 5vh 0vh 5vh; 
}

form > div > div:nth-child(2) {
    margin-left: 10vh;
}

form > div{
    margin-bottom: 2vh;
}

input{
    margin-top: 0.3vh;
    border-radius: 0.75vh;
    height: 3vh;
    width: 25vh;
    outline: none;
    /* border-color: aqua; */
    border: 0.3vh solid #cccccc;
    outline: none;
}

#rightrow3 > div{
    margin: 3vh 5vh 0vh 5vh;
}

#leftbody > img{
    height: 100vh;
}

#rightrow3 > div > button{
    margin-bottom: 3vh;
    height: 5vh;
    width: 32vh;
    border-radius: 1.5vh;
    border-style: none;
    background-color: rgb(60, 60, 212);
    font-size: 1.5em;
    font-weight: bold;
    color: white;
}

#rightrow3 > div > p{
    font-size: 1em;
    font-weight: bold;
}

input:focus{
    border-color: blue;
}

input:user-invalid{
    border-color: red;
}